# no subir 7z que contiene el src necesario para funcionar
*.7z

# no subir ejecutable compilado (linux)
ws
# no subir ejecutable compilado (windows)
ws.exe

# no subir archivo con notas
info.txt
ws.json

